@import "../../assets/style/params/colors.styl"

.progress-description
  background-color $primary_back_color
  padding 21px 10px 25px 10px
  &__heading
    font-size 20px
    line-height 25px
    margin-bottom 22px
  &__title
    margin 0 0 12px 0
    font-size 12px
    line-height 15px
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color #777777

  &__text
    line-height 25px
    letter-spacing 0.05px
    margin 0 0 18px 0
  &__tags
    margin-bottom 28px
  &__link 
    display block
    margin 29px 0 0 0
    color $active_element_color
    letter-spacing 0.05px

    &-arrow
      display inline
      margin 0 0 0 5px

