
mysql-data/
redis-data/
logs/

\.env

www/laravel/supervisord\.log
www/laravel/\.env


www/laravel/supervisord\.pid

www/admin/node_modules/
www/mc_admin/node_modules/

www/admin/dist/
www/mc_admin/dist/

docker-compose\.yml

nginx/conf\.d/default\.conf
config.env
data/
init-letsencrypt.sh
renew.sh


\.idea/

www/\.DS_Store

\.DS_Store



.DS_Store
nginx/.DS_Store
www/.DS_Store
www/laravel/.DS_Store
www/laravel/.rnd
www/laravel/database/.DS_Store
test.php

www/laravel/storage/app/public/

www/laravel/storage/framework/indexes/

elastic-data/

www/laravel/composer.lock
