.success-media-modal
  pointer-events auto
  min-height 220px
  width 100%
  max-width 670px
  background-color white
  border-radius 10px
  display flex
  flex-direction column
  justify-content center
  &__header
    display flex
    justify-content center
  &__body
    color $primary_text_color
    font-size 20px
    line-height 25px
    text-align center
    padding 20px
    &__button
      display flex
      justify-content center
      margin-top 15px
      .button
        max-width 150px
      .button__text
        text-align center
