@import "../../../../assets/style/params/colors.styl"
@import "../../../../assets/style/mixins.styl"

.search-input
  &__icon
    position relative
    height 30px
    width 30px
    margin 0 5px 0 0
    color $icon_color
    cursor pointer

    &>svg
      position absolute
      width 100%
      height 100%

  &__container
    height 50px
    padding 0 14px
    display flex
    align-items center

  &__input
    align-self stretch
    flex-grow 1
    padding 0
    display block
    placeholder($placeholder_color)
    text_rubik(16px, 19px, $primary_text_color)
    background-color transparent
