@import "../../../assets/style/params/colors.styl"

.the-sign-layout
  width 100%
  max-width 548px
  margin 40px auto 40px auto
  padding 30px 85px 60px 85px
  border-radius 10px
  display flex
  flex-direction column

  @media screen and (max-width 575px)
    max-width none
    padding 30px 15px 60px 15px
    border-radius 0

  &__body
    overflow-x hidden
    padding 0 2px
    display flex
    flex-direction column
    flex-grow 1

  &__tab
    height 50px
    width 100%
    display flex
    align-items center
    justify-content center
    color inherit

  &__content
    position relative
    display flex
    flex-direction column
    flex-grow 1
