@import "../../../assets/style/params/colors.styl"

.rating-settings
  position relative
  background-color white
  width 330px
  margin 0 0 0 10px
  border-radius 10px
  padding 20px 15px 0 15px

  @media screen and (max-width 991px)
    margin 0 auto
    width 100%

  @media screen and (max-width 767px)
    border-radius 0

  &__title
    font-size 20px
    line-height 25px
    margin 0 0 10px 0

  &__description
    color $placeholder_color
    margin 0 0 30px 0

  &__multiselector
    margin 0 0 15px 0

  &__range-age
    margin 0 0 23px 0

  &__checkbox
    margin 0 0 15px 0

  &__submit
    padding 10px 0 40px 0

