columns_count = 12

container_gutters = {
  '': 15px,
  '-sm': 15px,
  '-md': 15px,
  '-lg': 15px,
  '-xl': 15px,
}

row_gutters = {
  '': 5px,
  '-sm': 5px,
  '-md': 5px,
  '-lg': 5px,
  '-xl': 5px,
}

breakpoints = {
  '-sm': 576px,
  '-md': 768px,
  '-lg': 992px,
  '-xl': 1200px,
}

container_sizes = {
  '-sm': 540px,
  '-md': 748px,
  '-lg': 870px,
  '-xl': 1040px,
}

classes = {}

classes_adaptive = {
  'd': {
    'none': {
      display: none !important,
    },
    'inline': {
      display: inline !important,
    },
    'inline-block': {
      display: inline-block !important,
    },
    'block': {
      display: block !important,
    },
    'flex': {
      display: flex !important,
    },
    'inline-flex': {
      display: inline-flex !important,
    },
  },
  'justify-content': {
    'start': {
      justify-content: flex-start !important,
    },
    'end': {
      justify-content: flex-end !important,
    },
    'center': {
      justify-content: center !important,
    },
    'between': {
      justify-content: space-between !important,
    },
    'around': {
      justify-content: space-around !important,
    },
  },
  'align-items': {
    'start': {
      align-items: flex-start !important,
    },
    'end': {
      align-items: flex-end !important,
    },
    'center': {
      align-items: center !important,
    },
    'baseline': {
      align-items: baseline !important,
    },
    'stretch': {
      align-items: stretch !important,
    },
  },
  'align-content': {
    'start': {
      align-content: flex-start !important,
    },
    'end': {
      align-content: flex-end !important,
    },
    'center': {
      align-content: center !important,
    },
    'between': {
      align-content: space-between !important,
    },
    'around': {
      align-content: space-around !important,
    },
  },
  'align-self': {
    'start': {
      align-self: flex-start !important,
    },
    'end': {
      align-self: flex-end !important,
    },
    'center': {
      align-self: center !important,
    },
    'baseline': {
      align-self: baseline !important,
    },
    'stretch': {
      align-self: stretch !important,
    },
  },
  'flex-direction': {
    'row': {
      flex-direction: row !important,
    },
    'column': {
      flex-direction: column !important,
    },
    'row-reverse': {
      flex-direction: row-reverse !important,
    },
    'column-reverse': {
      flex-direction: column-reverse !important,
    },
  },
}
