.comments-control-container
  position absolute
  top 0
  bottom 0
  margin 0 0 0 10px
  width 100%

  @media screen and (max-width 991px)
    position relative
    margin 10px 0 0 0

  &__wrapper
    height 100%
    width 330px
    position relative

    @media screen and (max-width 991px)
      width 100%
      height auto
