@import "../../../assets/style/params/colors.styl"

.success-text
  margin 15px 0 0 0
  color $primary_label_color

  &__check
    display inline
    margin 0 8px 0 0

    & > svg
      display inline
