@import "../../../assets/style/params/colors.styl"
@import "../../../assets/style/mixins.styl"

.comments-control-item
  display flex
  padding 0 0 20px 0
  font-size 14px

  @media screen and (min-width 992px)
    &:last-child
      padding 0

  @media screen and (max-width 991px)
    &:last-child
      padding 0 0 10px 0

  &:first-child
    padding-top 20px

  &__avatar
    height 30px
    width 30px
    border-radius 50%
    background-position center
    background-size cover
    background-repeat no-repeat
    margin 0 15px 0 0
    display block

    &-container
      flex-shrink 0

  &__comment
    flex-grow 1
    min-width 0

    &-author
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      margin 0 0 5px 0
      display block

      & > a
        color $active_element_color

    &-text
      margin 0 0 5px 0
      word-wrap-break()

    &-footer
      display flex
      color $placeholder_color

      &-time
        height auto
      &-reply
        height auto
        margin 0 0 0 10px


