.openListButton
  width 100%


.top-content
  width 100%
  display flex
  flex-wrap wrap

  &-main-info
    width 50%

    @media screen and (max-width 991px)
      width 100%

  &-member-info
    width 50%
    display flex
    flex-wrap wrap

    @media screen and (max-width 991px)
      width 100%

    &-slot
      width 50%

      @media screen and (max-width 991px)
        width 100%
