.openListButton
  width 100%


.top-content
  width 100%
  display flex
  flex-wrap wrap

  &-container
    width 100%
    display flex
    flex-wrap wrap

  &-main-info
    width 50%

    @media screen and (max-width 991px)
      width 100%

  &-member-info
    width 50%
    display flex
    flex-wrap wrap

    @media screen and (max-width 991px)
      width 100%

    &-slot
      width 50%

      @media screen and (max-width 991px)
        width 100%

.journal
  margin-top 30px
  width 100%

  &_header
    display flex
    flex-wrap wrap
    width 100%
    justify-content space-between

.semester
  width 100%
  display flex
  flex-wrap wrap

  &_info
    width 50%

    @media screen and (max-width 991px)
      width 100%

  &_buttons
    width 50%

    @media screen and (max-width 991px)
      width 100%

    &_button
      width 100%

.schedule
  width 100%

  &_choose-lesson-card
    margin-top 30px
    width 100%

    @media screen and (max-width 991px)
      width 100%

    &_container
      display flex
      flex-wrap wrap

      &_choose_box
        width 55%

        @media screen and (max-width 991px)
          width 100%

      &_control_buttons
        width 40%
        margin-left 5%

        @media screen and (max-width 991px)
          width 100%
          margin-left 0
          margin-top 15px

        &_button
          width 100%

  &-header
    display flex
    flex-wrap wrap
    justify-content space-between
    width 100%

.progresses
  width 100%
  margin-top 30px

  &-table
    width 100%

    &-evaluation_input
      width 60px

  &-header
    display flex
    flex-wrap wrap
    justify-content space-between
    width 100%

