$active_element_color = #08A8A1
$primary_button_back_color = #08A8A1
$secondary_button_border_color = #CEEEEC

$link_text_color = #08A8A1
$selected_color = #08A8A1

$primary_text_color = #222222
$secondary_text_color = #777777

$header_back_color = #222222
$icon_in_button_color = #222222
$reward_card_date = alpha($primary_text_color, 0.3)


$primary_label_color = #AAAAAA
$secondary_label_color =  #AAAAAA

$placeholder_color = #AAAAAA
$icon_color = #AAAAAA

$media-files-background = alpha($placeholder_color, 0.3)

$line_color = #E5E5E5
$border_input_color = #E5E5E5
$border_input_color_focus = #CCCCCC

$primary_back_color = #F5F5F5
$secondary_back_color = #F5F5F5

$like_color = #EC2558
$error_color = #EC3125

$reward_card_progress = #EEE

$modal_rewards_background = alpha(black, 0.8)
$slider_img_background = alpha(black, 0.5)
$tool_tip_box = alpha(black, 0.1)
$tool_tip_gray = alpha(white, 0.4)
$tool_background_active = #333333
