.chat
  max-height 79vh
  margin 0 auto 0 auto
  width 600px

  @media screen and (max-width 991px)
    width 100%

  &__table
    max-height 79vh
    max-width 100%

    &__button
      width 10px

    &__date
      font-size 12px
      color grey

    &__header-center-text
      text-align center

  &__table-with-chat
    max-height 70vh
