@import "../../../assets/style/colors.styl"

.profile-rewards
  background white
  border-radius 10px
  padding 20px 0 40px 0
  &__header
    &__title
      margin-bottom 24px
      font-size 20px
      line-height 25px
      color lightBlackColor

    &__divider
      margin 0 0 10px 0
      background lightGrayColor
      border unset
      height 1px
  &__content
    &-empty
      padding 0 5px
  &__footer
    margin-top 30px
    &__arrow-load
      margin-right 10px
  @media screen and (max-width 767px)
    padding-top 15px


