.profile-rewards
  border-radius 0 0 10px 10px
  &-catalog
    &__tabs
      background white
      border-radius 10px 10px 0 0
      padding 10px 0 0 0
      &__tab
        height 50px
        padding 15px
        display flex
        justify-content center
        flex-grow 1
        cursor pointer
    &__content
      position relative
      overflow hidden
