@import "../../../assets/style/params/colors.styl"

.category-stats
  margin 0 0 10px 0

  @media screen and (max-width 575px)
    height auto

  @media screen and (max-width 575px)
    height auto
    padding 0 10px
    //max-width 320px
    margin 0 auto

  &__container
    margin 0 auto 10px auto

  &__grid
    display grid
    grid-gap 10px
    grid-template-rows repeat(auto-fill, 100px)
    grid-template-columns 1fr 1fr 1fr 1fr
    height 100%
    align-items stretch

    @media screen and (max-width 1199px)
      grid-template-columns 1fr 1fr

  &__link
    border-radius 10px
    background-color white
    display flex
    flex-direction column
    justify-content center
    color $primary_text_color
    cursor pointer
    min-height: 100px
    max-height: 100px

    &:nth-child(even)
      .tool-tip__mark-text
        left -200px

    &:nth-child(odd)
      .tool-tip__mark-text
        left -44px

    &:hover
      & img
        transform scale(1.2)

      .category-stats__link-name, .category-stats__link-rank
        color $active_element_color

    &-content
      display flex
      align-items center
      flex-wrap wrap
      padding 0 10px
      width 100%

      &>img
        transition transform 0.15s

    &-rank
      margin-top 2px

    &-text, &-rank
      display flex
      align-items center
      justify-content space-between
      padding 0 10px
      font-size 14px
      width 100%
      text-align left
      color #AAAAAA
      .tool-tip__mark-container
        margin 0 0 0 6px

    &-count
      margin-left 10px
      color #222222
      font-weight: normal;
      font-size 25px
