@import "../../../../assets/style/params/colors.styl"

.range-input

  &__before
    flex-shrink 0

    &--focus
      color $placeholder_color

  &__after
    flex-shrink 2
    flex-grow 2
    flex-basis 100%

    &--focus
      color $placeholder_color