.group-inputs
  display flex
  align-items flex-end

  &__input
    margin 0 -1px 0 0
    flex-grow 1
    flex-basis 50%
    position relative

    & .input-container
      border-radius 0

    &:first-child .input-container
      border-top-left-radius 5px
      border-bottom-left-radius 5px

    &:last-child .input-container
      border-top-right-radius 5px
      border-bottom-right-radius 5px
