veryLightGray = #F5F5F5
lightGrayColor = #E5E5E5
middleGrayColor = #DDDDDD
hoverGray = #CCCCCC
grayColor = #AAAAAA
aquaColor = #08A8A1
heavenBlueColor = #CEEEEC
blackColor = #222222
lightBlackColor = #333333
opacityWhite = rgba(255, 255, 255, .1)
