.rating-settings-modal
  pointer-events auto
  width 500px
  align-self center

  @media screen and (max-width 767px)
    width 100%
    padding 0 0 100px 0

  &__close
    display none

    @media screen and (min-width 768px)
      display block
      position fixed
      width 60px
      height 60px
      z-index 1
      color white
      top 30px
      right 30px
      pointer-events auto
      border-radius 50%
      cursor pointer

  &__back-to-profile
    display none
    pointer-events auto

    @media screen and (max-width 767px)
      display block
      width 100%